@import url("<i class="fa-light fa-arrow-down"></i>");
body{
    background-color: lightgray
}
button{
    cursor: pointer;
    outline: none;
   
}
button{
color: white;
background-color: rgb(2, 2, 41);
border-radius: 15px;
border: 1px;
padding-left: 10px;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
margin-left: auto;
}
h2{
    color: rgb(51,51,51);
}
 button:hover {
    background-color: rgb(0, 102, 0);
}